body {
	font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
	color: #fff;
	padding: 10px;
}
.header-container {
    display: grid;
    grid-template-columns: 650px 1fr; /* Två kolumner med olika storlek*/
    align-items: center; /* Center-align vertikal */
    justify-content: center; /* Center-align horisontell */
}
.header-nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
.main-content {
    height: 600px;
    text-align: center;
}
.main-content-container {
    display: flex;
    justify-content: space-between;
}

.main-content-item {
    flex: 1;
    height: 650px;
    text-align: center;
}

.footer {
    text-align: center;
    height: 200px;
    background-color: #333;
	color: #fff;
	padding: 10px;
}

#map {
    width: 100%;
    height: 100%;
}

.legend {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
}

/* Style för toggle "knappar" alla lagren */
#skreddatabasenToggle,
#jordartToggle,
#vattendragLineToggle,
#vattendragPolygonToggle,
#grundvattenPolygonToggle {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 40px;
    height: 20px;
    background-color: white;
    position: relative;
    border-radius: 20px;
    margin: 5px 0;
	border: solid;
	border-color: grey;
}

/* Skreddatabasen toggle */
#skreddatabasenToggle:checked {
    background-color: #9f9; /* grön vald */
}

#skreddatabasenToggle::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: grey;
    left: 0;
    transition: 0.4s;
	border: solid;
	border-color: white;
}

#skreddatabasenToggle:checked::before {
    left: 20px; /* flyttas till höger 20px vid vald*/
}

/* Jordart toggle */
#jordartToggle:checked {
    background-color: #9f9; /* grön vald */
}

#jordartToggle::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: grey;
    left: 0;
    transition: 0.4s;
	border: solid;
	border-color: #f66;
}

#jordartToggle:checked::before {
    left: 20px;
}
/* vattendragLineToggle toggle */
#vattendragLineToggle:checked {
    background-color: #9f9;
}

#vattendragLineToggle::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: grey;
    left: 0;
    transition: 0.4s;
	border: solid;
	border-color: #f66;
}

#vattendragLineToggle:checked::before {
    left: 20px; 
}
/* vattendragLineToggle toggle */
#vattendragPolygonToggle:checked {
    background-color: #9f9;
}

#vattendragPolygonToggle::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: grey;
    left: 0;
    transition: 0.4s;
	border: solid;
	border-color: #f66;
}

#vattendragPolygonToggle:checked::before {
    left: 20px;
}
/* vattendragLineToggle toggle */
#grundvattenPolygonToggle:checked {
    background-color: #9f9;
}

#grundvattenPolygonToggle::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: grey;
    left: 0;
    transition: 0.4s;
	border: solid;
	border-color: #80eeff;
}

#grundvattenPolygonToggle:checked::before {
    left: 20px; 
}