body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
.header {
    background-color: #333;
	color: #fff;
	padding: 10px;
}
.header-container {
    display: grid;
    grid-template-columns: 580px 1fr; /* Två kolumner med olika storlek*/
    align-items: center; /* Center-align vertikal */
    justify-content: center; /* Center-align horisontell */
}
.header-nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
main {
    text-align: center;        
	height: 600px;
}
.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* två kolumner med samma storlek */
    gap: 20px; /* utrymme mellan columns */
}
.main-column-1 {
    /* eventuellt */
}

.main-column-2 {
    /* eventuellt */
}
.scrollable-content {
    height: 600px; /* höjd på innehållet */
    overflow-y: auto; /* vertikal scroll */
    padding: 20px;
}
.exempelbild{
	width: 50%;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
	height: 200px;
        }
.main-image {
	padding-top: 150px;
    max-width: 200px;
    max-height: 200px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}